* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 500px;
}

header {
    width: 100%;
    background-color: #fff;
}

header .head {
    width: 1080px;
    text-align: center;
    margin: 0 auto;
    height: 75px;
    padding: 15px;
}

header .left-img {
    width: 160px;
    height: 50px;
}

.left-img img {
    width: 160px;
    float: left;
    display: float;
}

header .center {
    float: center;
}

header ul {
    margin: -20px;
    height: 32px;
    width: 600px;
    line-height: 32px;
    background-color: pink;
}

header .center li {
    float: left;
    list-style: none;
    width: 50px;
    text-align: left;
    margin-left: 20px;
}

header .right {
    width: 100px;
    height: 32px;
    background-color: aqua;
    line-height: 32px;
    margin-top: -12px;
    float: right;
    position: relative;
}

header .right img {
    position: absolute;
    left: -25px;
    top: 3px;
}

header .right button {
    color: #ff0000;
    background-color: #fff;
    border-color: #ff442c;
    padding: 5px 5px;
}

footer {
    width: 100%;
    /* height: 100px; */
    background-color: #505050;
    color: #fff;
    margin: 0 auto;
    float: left;
}

.foot {
    width: 1080px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 12px;
}

.foot h3 {
    line-height: 50px;
}

.foot>div {
    float: left;
}

.f-img {
    width: 180px;
}

.one,
.two {
    width: 130px;
    margin-left: 20px;
}

.one,
.two p {
    color: #909596;
}

.three {
    width: 180px;
    float: left;
}

.three li {
    list-style: none;
    width: 70px;
    float: left;
    margin-right: 5px;
    color: #909596;
}

.four {
    float: left;
    margin-right: 20px;
}

.four li {
    list-style: none;
    color: #909596;
}

.five {
    float: left;
    margin-right: 0px;
}

.five li {
    list-style: none;
    color: #909596;
}

.end {
    /* margin-top: 100px;
    margin-left: ; */
    margin: 280px 120px 15px -507px;
    color: #909596;
}